.space-bottom {
  margin-bottom: 4rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  margin-top: 7rem;
  font-size: 50px;
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
